<div class="container pt-5">
  <div class="col-4 offset-4 mt-5">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <h2>Bienvenido</h2>
          <p>
            Es necesario el cambio de contraseña para poder validar tu identidad.
          </p>
          <div class="row mt-2">
            <div class="col-12">
              <small class="text-secondary">Contraseña</small>
            </div>
            <div class="col-12">
              <form #changePasswordForm="ngForm">
                <div class="mb-3">
                  <label for="registerPassword" class="form-label">Nueva Contraseña</label>
                  <div class="input-group">
                      <input [type]="userLoged.showPassword ? 'text' : 'password'" class="form-control" name="password" minlength="8" [(ngModel)]="userLoged.newPassword" id="registerPassword" placeholder="Mínimo 8 caracteres" required>
                      <button class="btn btn-outline-secondary" type="button" id="toggleRegPassword" (click)="togglePassword()">
                          <i class="fa fa-eye"></i>
                      </button>
                  </div>
                  <small class="text-muted">La contraseña debe tener al menos 8 caracteres</small>
                </div>
                <div class="mb-3">
                  <label for="confirmPassword" class="form-label">Confirmar contraseña</label>
                  <input [type]="userLoged.showPassword ? 'text' : 'password'" class="form-control" id="confirmPassword" minlength="8" name="confirmPassword" [(ngModel)]="userLoged.confirmPassword"  placeholder="Repite tu contraseña" required>
                  <span class="help-text text-danger" *ngIf="userLoged.newPassword !== userLoged.confirmPassword">Las contraseñas no son iguales. Verifique!</span>
                </div>
              </form>
            </div>
            <div class="col-12 mt-3 text-center">
              <button class="btn btn-light text-danger me-5" (click)="cancel()">
                <i class="fa fa-times me-1"></i>Cancelar
              </button>
              <button class="btn btn-primary ms-5" [disabled]="changePasswordForm.invalid || userLoged.newPassword !== userLoged.confirmPassword" (click)="changePassword()">
                <i class="fa fa-save me-1"></i>Cambiar Clave
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>