<div class="fadeIn">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-8 text-primary-color">
          <i class="bi bi-person-arms-up me-1"></i>Gestión de Pacientes
        </div>
        <div class="col-4 text-end">
          <button class="btn btn-sm bg-primary-color text-white" (click)="togglePatient()">
            <i class="bi bi-plus me-1"></i>Nuevo Paciente
          </button>
        </div>
      </div>
    </div>
    <div class="col-12 mt-3">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-9">
              <div class="input-group input-group-sm">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
                <input type="text" class="form-control text-uppercase" name="text" [(ngModel)]="filter.text" placeholder="BUSCAR POR DNI, NOMBRE" aria-label="BUSCAR POR DNI, NOMBRE" aria-describedby="basic-addon1">
              </div>
            </div>
            <div class="col-2">
              <div class="input-group input-group-sm">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-table"></i></span>
                <select name="limit" [(ngModel)]="filter.pagination.limit" class="form-select">
                  <option *ngFor="let n of numberRows" [ngValue]="n">{{n}}</option>
                </select>
              </div>
            </div>
            <div class="col-1">
              <button class="btn bg-primary-color btn-sm btn-block text-white" (click)="search()">
                <i class="bi bi-search me-1"></i>Buscar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 mt-3">
      <ng-container *ngIf="results.length">
        <ul class="list-group">
          <li class="list-group-item list-group-item-secondary" style="border-bottom-left-radius: 0; border-bottom-right-radius: 0; margin-bottom: -3px; z-index: 1;" *ngIf="results.length">
            <div class="row font-xs text-primary-color">
              <div class="col-1"><strong>DNI</strong></div>
              <div class="col-4"><strong>Nombre Completo</strong></div>
              <div class="col-1"><strong>Fecha Nacimiento</strong></div>
              <div class="col-1 ps-1"><strong>Sexo</strong></div>
              <div class="col-2"><strong>Correo</strong></div>
              <div class="col-1"><strong>Estado</strong></div>
              <div class="col-2 text-end"><strong>Acciones</strong></div>
            </div>
          </li>
        </ul>
        <ul class="list-group" style="max-height: 450px; overflow: auto;">
          <li class="list-group-item" *ngFor="let p of results">
            <div class="row font-nm">
              <div class="col-1">
                {{p.code}}
              </div>
              <div class="col-4">
                {{p.paternalSurname | uppercase}} {{p.maternalSurname | uppercase}}, {{p.firstName | titlecase}}
              </div>
              <div class="col-1">
                {{p.dateOfBirth | date:'dd/MM/yyyy'}}
              </div>
              <div class="col-1">
                {{p.gender}}
              </div>
              <div class="col-2">
                {{p.email}}
              </div>
              <div class="col-1">
                {{p.status ? 'ACTIVO' : 'INACTIVO'}}
              </div>
              <div class="col-2 text-end">
                <button class="btn btn-sm btn-light text-primary-color" (click)="togglePatient(p)">
                  <i class="bi bi-pencil"></i>
                </button>
                <button class="btn btn-sm btn-light text-danger" (click)="deletePatient(p)">
                  <i class="bi bi-trash"></i>
                </button>
              </div>
            </div>
          </li>
        </ul>
      </ng-container>
      <ul class="list-group">
        <li class="list-group-item list-group-item-secondary" style="border-top-left-radius: 0; border-top-right-radius: 0; margin-top:-3px; z-index: 1;" *ngIf="results.length">
          <div class="row font-xs">
            <div class="col-10 pt-2">Mostrando {{(filter.pagination.page - 1) * filter.pagination.limit + 1}}-{{filter.pagination.page * filter.pagination.limit}} de {{filter.totalRows}}</div>
            <div class="col-2 text-end">
              <div class="input-group input-group-sm">
                <button class="btn btn-light text-primary" type="button" id="button-addon1" *ngIf="filter.pagination.page !== 1" (click)="changePage(filter.pagination.page-1)">Anterior</button>
                <select name="page" [(ngModel)]="filter.pagination.page" (change)="getPatients()" class="form-select">
                  <option *ngFor="let p of pages" [ngValue]="p">{{p}}</option>
                </select>
                <button class="btn btn-light text-primary-color" type="button" id="button-addon2" *ngIf="filter.pagination.page < pages.length" (click)="changePage(filter.pagination.page+1)">Siguiente</button>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="modal fade" bsModal #patientModal="bs-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Paciente</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="togglePatient()">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="newPatient">
        <div class="row">
          <div class="col-12">
            <form #patientForm="ngForm">
              <div class="row">
                <div class="col-12">
                  <label for="code">DNI</label>
                  <input type="text" name="code" [(ngModel)]="newPatient.code" class="form-control" required>
                </div>
                <div class="col-12">
                  <label for="paternalSurname">A. Paterno</label>
                  <input type="text" name="paternalSurname" [(ngModel)]="newPatient.paternalSurname" class="form-control" required>
                </div>
                <div class="col-12">
                  <label for="maternalSurname">A. Materno</label>
                  <input type="text" name="maternalSurname" [(ngModel)]="newPatient.maternalSurname" class="form-control" required>
                </div>
                <div class="col-12">
                  <label for="firstName">Nombres</label>
                  <input type="text" name="firstName" [(ngModel)]="newPatient.firstName" class="form-control" required>
                </div>
                <div class="col-12">
                  <label for="dateOfBirth">Fecha de Nacimiento</label>
                  <input type="date" name="dateOfBirth" [(ngModel)]="newPatient.dateOfBirth" class="form-control" required>
                </div>
                <div class="col-12">
                  <label for="gender">Genero</label>
                  <select name="gender" [(ngModel)]="newPatient.gender" class="form-select" required>
                    <option [ngValue]="undefined">--SELECCIONE--</option>
                    <option [ngValue]="'M'">Masculino</option>
                    <option [ngValue]="'F'">Femenino</option>
                  </select>
                </div>
                <div class="col-12">
                  <label for="email">Correo Electrónico</label>
                  <input type="text" name="email" [(ngModel)]="newPatient.email" class="form-control" required>
                </div>
                <div class="col-12">
                  <label for="healthNetwork">Red de Salud</label>
                  <select name="healthNetwork" [(ngModel)]="newPatient.healthNetwork" class="form-select">
                    <option [ngValue]="undefined">--SELECCIONE--</option>
                    <option *ngFor="let h of healthNetworks" [ngValue]="h._id">{{h.name | uppercase}}</option>
                  </select>
                </div>
                <div class="col-12">
                  <label for="serviceDeliveryInstitution">IPRESS</label>
                  <select name="serviceDeliveryInstitution" [(ngModel)]="newPatient.serviceDeliveryInstitution" class="form-select">
                    <option [ngValue]="undefined">--SELECCIONE--</option>
                    <option *ngFor="let h of serviceDeliveryInstitutions" [ngValue]="h._id">{{h.name | uppercase}}</option>
                  </select>
                </div>
                <div class="col-12" *ngIf="newPatient.editing">
                  <label for="status">Estado</label>
                  <select name="status" [(ngModel)]="newPatient.status" class="form-select" required>
                    <option [ngValue]="true">ACTIVO</option>
                    <option [ngValue]="false">INACTIVO</option>
                  </select>
                </div>
                <div class="col-12 text-center pt-3">
                  <button class="btn btn-sm bg-primary-color text-white" [disabled]="patientForm.invalid" (click)="savePatient()">
                    <i class="bi bi-save me-1"></i>Guardar cambios
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

